/*
 * Author: Bradley Tse
 * Date: April 2013
 * Email: bradleytse@gmail.com
 *
 * Main CSS file.
 * I organized everything by grouping similar elements together.
 *
 * I didn't really follow the idea of "more classes less IDs", but
 * this worked fine for my small personal website.
 */


/******************************************************************************
 * Custom Fonts
 *****************************************************************************/
@font-face {
    font-family: 'pacificoregular';
    src: url('./fonts/pacifico-webfont.eot');
    src: url('./fonts/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/pacifico-webfont.woff') format('woff'),
         url('./fonts/pacifico-webfont.ttf') format('truetype'),
         url('./fonts/pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('./fonts/bebasneue-webfont.eot');
    src: url('./fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bebasneue-webfont.woff') format('woff'),
         url('./fonts/bebasneue-webfont.ttf') format('truetype'),
         url('./fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'molotregular';
    src: url('./fonts/molot-webfont.eot');
    src: url('./fonts/molot-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/molot-webfont.woff') format('woff'),
         url('./fonts/molot-webfont.ttf') format('truetype'),
         url('./fonts/molot-webfont.svg#molotregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'patua_oneregular';
    src: url('./fonts/patuaone-regular-webfont.eot');
    src: url('./fonts/patuaone-regular-webfont.eot?#iefix')
             format('embedded-opentype'),
         url('./fonts/patuaone-regular-webfont.woff') format('woff'),
         url('./fonts/patuaone-regular-webfont.ttf') format('truetype'),
         url('./fonts/patuaone-regular-webfont.svg#patua_oneregular')
             format('svg');
    font-weight: normal;
    font-style: normal;

}

/******************************************************************************
 * RESET
 *****************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************************************************
 * Unique items
 *****************************************************************************/
body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 62.5%; /* Downsizes it to 10px */
    text-align: center;
    color: #7e8289;
    height: 100%;
    /*background: linear-gradient(to bottom, #f7f7f8 0%, #f2f3f4 100%);*/
}

html {
    height: 100%;
}

#uparrow {
    position: fixed;
    bottom: 50%;
    right: 0%;
    height: 50px;
    width: 50px;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/******************************************************************************
 * Reused items
 *****************************************************************************/
h1, h2 {
    position: relative;
    text-transform: uppercase;
    font-family: bebas_neueregular;
}

h2 {
    font-size: 7em;
    color: #333;
    margin: 20px auto;
}

h1 {
    font-size: 5em;
    color: #ffffff;
    margin: 0 0 32px 0;
}

h3 {
    font-size: 3em;
    font-weight: bold;
    color: #333;
    margin: 25px 0;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

section {
    padding: 0 0 0px 0; /* Padding increases size of border for scrolling */
    margin: 0 auto;
    height: 100%;
}

.chunk {
    width: 650px;
    padding: 0 10px 0 30px;
}

.section-header {
    width: inherit;
}

section p {
    font-size: 1.5em;
    text-align: left;
    margin: 0 auto;
    line-height: 30px;
}

.horiz-line {
    position: relative;
    border-top: 1px solid #000000;
    margin: 0 auto;
    width: 190px;
}

ul {
    list-style: none outside;
}

.left {
    position: fixed;
    height: 100%;
    width: 33%;
    background: url("../images/random_grey_variations.png") repeat;
    -webkit-box-shadow: 2px 0px 6px 0px;
    -moz-box-shadow: 2px 0px 6px 0px;
    box-shadow: 2px 0px 6px 0px;
}

.right {
    float: right;
    position: relative;
    z-index: 1;
    width: 67%;
    height: 100%;
}

.right-bg {
    background: url("../images/bright_squares.png");
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
}

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/******************************************************************************
 * Header
 *****************************************************************************/
header {
    height:200px;
    color: #333333;
    text-align: center;
}

#header-wrap {
    position: relative;
    width: 100%;
    z-index: 200;
    padding-top: 120px;
}

#description {
    font-family: pacificoregular ;
    font-size: 3em;
    margin: 20px auto;
}

#social-links {
    position: relative;
    width: 400px;
    margin: 0 auto;
    height: 80px;
}

.social-link {
    display: inline-block;
    vertical-align: top;
    margin: 35px 10px 0 10px;
    -webkit-transition: margin-top 0.3s ease;
    -moz-transition: margin-top 0.3s ease;
    -o-transition: margin-top 0.3s ease;
    transition: margin-top 0.3s ease;
}

.social-link:hover {
    margin-top: 30px;
}

.social-img {
    height: 38px;
    width: 38px;
    opacity: 0.6;
}

#resume-wrap {
    position: absolute;
    width: 100px;
    height: 30px;
    left: -3%;
    color: transparent;
    margin-top: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#resume {
    font-size: 2.2em;
    font-family: molotregular;
    text-align: left;
}

/******************************************************************************
 * Navigation
 *****************************************************************************/
#navbar {
    position: relative;
    z-index: 200;
    font-size: 4.5em;
    font-family: "bebas_neueregular";
    padding-top: 40px;
    letter-spacing: 1px;
    color: #c6c6c6;
    width: 100%;
    text-align: right;
}

#navbar a:hover {
    color: #5a997d;
}

#navbar ul {
    margin-right: 30px;
}

.black-bg {
    background-color: rgba(51, 51, 51, 0.8);
}

.gradient {
    background-image: -webkit-gradient(linear, left top , right top,
                       from(rgba(20, 20, 20, .9)), to(rgba(20, 20, 20, .7)));
    background-image: -moz-linear-gradient(right center,
                       rgba(38, 38, 38, 1) 20%, (rgba(38, 38, 38, 0) 95%);
}

#vertical {
    position: absolute;
    z-index: 300;
    right: 15px;
    top: 92px;
    height: 30px;
    border-right: 4px solid #5a997d;
}

.name {
    position: absolute;
    z-index: 300;
    font-size: 0.7em;
    text-align: left;
    padding-top: 40px;
    margin-left: 20px;
}

.nav-item {
}

/******************************************************************************
 * About Me
 *****************************************************************************/
#about img {
    float: left;
    margin: 0 20px 20px 0;
    height: 160px;
    width: 160px;
}

.question {
    margin: 30px 0 5px 0;
    font-weight: bold;
    font-size: 2.2em;
}

.answer {
}

/******************************************************************************
 * Work
 *****************************************************************************/

/******************************************************************************
 * Contact Me
 *****************************************************************************/
#contact {
    height: 100%;
}

#contact-wrapper {
    width: inherit;
    text-align: left;
    margin-top: 50px;
9}

#submit-form {
    display: inline-block;
    width: 400px;
}

.sub-title {
    font-weight: bold;
    font-size: 1.7em;
    color: #333;
    text-align: left;
    text-transform: uppercase;
}

.sub-input {
    width: 100%;
}

#comments {
    height: 150px;
}

#submit {
    margin-top: 10px;
    width: 60px;
}

#info-wrapper {
    position: absolute;
    z-index: 200;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    bottom: 50px;
    width: auto;
}

.info-item {
    margin-bottom: 15px;
}

.info-text {
    font-size: 1.7em;
    display: inline-block;
}

.info-img {
    margin-right: 20px;
}

#phone {
    margin-left: 5px;
    padding-right: 6px;
}


/******************************************************************************
 * Tag: footer
 *****************************************************************************/
footer {
    font-size: 1.1em;
    color: #9b9ca1;
    background-color: #F3f4f5;
    height: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-box-shadow: 0px -1px 1px 0px;
    -moz-box-shadow: 0px -1px 1px 0px;
    box-shadow: 0px -1px 1px 0px;
}

#footer-inner {
    width: 1024px;
    padding: 12px 0;
    margin: 0 auto;
}

footer a {
    text-decoration: underline;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Used for sprites

#social-links a {
    display: inline-block;
    background-image: url("../images/sprites.png");
    background-size: 160px 42px;
    height: 41px;
    width: 41px;
}

#twitter a {
    background-position: -42px 0px;
}

#linkedin a {
    background-position: -83px 0px;
}

#github a {
    background-position: -1px 0px;
}*/


